#Ignore Objects
obj/
.vs/
/.vs/PlayGround
/AspDotNet/PersonasWebAPI/obj/Debug/net8.0
/AspDotNet/PersonasWebAPI/obj
/AspDotNet/PersonasWebAPI.Tests/bin/Debug/net8.0
/AspDotNet/PersonasWebAPI.Tests/obj/Debug/net8.0
/AspDotNet/PersonasWebAPI.Tests/obj
/CosmosDB/Services/CosmosDBEmulator.Services/obj/Debug/net8.0/CosmosDBEmulator.Services.csproj.AssemblyReference.cache
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/obj/Debug/net8.0/CosmosDBEmulator.Contracts.AssemblyInfo.cs
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/obj/Debug/net8.0/CosmosDBEmulator.Contracts.AssemblyInfoInputs.cache
/CosmosDBemulator/CosmosDBEmulator/obj/Debug/net8.0/CosmosDBEmulator.AssemblyInfo.cs
/CosmosDBemulator/CosmosDBEmulator/obj/Debug/net8.0/CosmosDBEmulator.AssemblyInfoInputs.cache
/CosmosDBemulator/CosmosDBEmulator/obj/Debug/net8.0/CosmosDBEmulator.csproj.AssemblyReference.cache
/CosmosDB/Services/CosmosDBEmulator.Services/bin/Debug/net8.0
**.obj
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/bin
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/bin
/CosmosDBemulator/CosmosDBEmulator/bin
/CosmosDB/Services/CosmosDBEmulator.Services/obj/
/CosmosDB/Services/CosmosDBEmulator.Services/obj/Debug/net8.0
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/obj/
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/obj/
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/obj/Debug/net8.0/
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/obj/
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/obj/Debug/net8.0/
/CosmosDBemulator/CosmosDBEmulator/obj/Debug/net8.0/
/CosmosDBemulator/CosmosDBEmulator/obj/Debug/net8.0/CosmosDBEmulator.csproj.CoreCompileInputs.cache
/CosmosDBemulator/CosmosDBEmulator/obj/Debug/net8.0/CosmosDBEmulator.csproj.FileListAbsolute.txt
/CosmosDBemulator/CosmosDBEmulator/obj/Debug/net8.0/CosmosDBEmulator.dll
/CosmosDBemulator/CosmosDBEmulator/obj/Debug/net8.0/CosmosDBEmulator.pdb
/CosmosDBemulator/CosmosDBEmulator/obj/Debug/net8.0/refint/CosmosDBEmulator.dll
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.Contracts.pdb
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.deps.json
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.dll
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.exe
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.pdb
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/obj/Debug/net8.0/refint/CosmosDBEmulator.Contracts.dll
/CosmosDB/Services/CosmosDBEmulator.Services/obj/Debug/net8.0/CosmosDBEmulator.Services.AssemblyInfoInputs.cache
/Principios/SOLID/SolidConBlazor/bin/Debug/net8.0
/AspDotNet/PersonasWebAPI/bin/Debug/net8.0
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/bin/Debug/net8.0/CosmosDBEmulator.Contracts.dll
/CosmosDBemulator/Contracts/CosmosDBEmulator.Contracts/bin/Debug/net8.0/CosmosDBEmulator.Contracts.pdb
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.Contracts.dll
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.Contracts.pdb
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.dll
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.exe
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.pdb
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.Services.dll
/CosmosDBemulator/CosmosDBEmulator/bin/Debug/net8.0/CosmosDBEmulator.Services.pdb
/CosmosDB/Services/CosmosDBEmulator.Services/bin/Debug/net8.0/CosmosDBEmulator.Contracts.dll
/CosmosDB/Services/CosmosDBEmulator.Services/bin/Debug/net8.0/CosmosDBEmulator.Contracts.pdb
/CosmosDB/Services/CosmosDBEmulator.Services/bin/Debug/net8.0/CosmosDBEmulator.Services.dll
/CosmosDB/Services/CosmosDBEmulator.Services/bin/Debug/net8.0/CosmosDBEmulator.Services.pdb
/Principios/SolidConBlazor.Contracts/bin/Debug/net8.0
/Principios/SolidConBlazor.Biblioteca.Contracts/bin/Debug/net8.0
/SolidConBlazor.Service/bin/Debug/net8.0
/EstructuraDeDatos/PlayGround.EstructuraDeDatos.Algoritmos/bin/Debug/net8.0
/Patrones/API/CircuitBreaker/CircuitBreaker/bin/Debug/net8.0
/Patrones/API/CircuitBreakerFunction/AzFunction_CircuitBreaker/bin/Debug/net8.0/.azurefunctions
/Patrones/API/CircuitBreakerFunction/AzFunction_CircuitBreaker/bin/Debug/net8.0
